

table {
  margin: 20px auto 10px;
  text-align: center;
  border-collapse: collapse;
  height: 500px;
  width: 500px;
  vertical-align: middle;
  table-layout: fixed;
  empty-cells: show;
  border: 3px solid;
  overflow: hidden;
}

td {
  color: orange;
  font: arial;
  font-weight: bold;
  /*font-size: 1em;*/
  font-size: 8em;
  height: 33%;
  border: 1px solid black;
}

h2 {
  padding: 10px;
  font-size: 2em;
  white-space: pre;
}

#reset {
  padding: 10px 40px;
  margin: 10px auto;
  display: block;
}

button {
}