

table {
  text-align: center;
  border-collapse: collapse;
  height: 500px;
  width: 500px;
  vertical-align: middle;
  table-layout: fixed;
  empty-cells: show;
  border: 3px solid;
  overflow: hidden;
}

td {
  font: arial;
  font-weight: bold;
  font-size: 1em;
  /*font-size: 8em;*/
  height: 33%;
  border: 1px solid;
}
