
h1 {
  color: gray;
  margin-bottom: 5px;
}

table {
  padding-top: 5px;
  margin: 20px auto 10px;
  text-align: center;
  border-collapse: collapse;
  height: 500px;
  width: 500px;
  vertical-align: middle;
  table-layout: fixed;
  empty-cells: show;
  border: 5px solid orange;
  overflow: hidden;
}

td {
  color: orange;
  font: arial;
  font-weight: bold;
  font-size: 8em;
  /*font-size: 1em;*/
  height: 33%;
  border: 1px solid orange;
}

h2 {
  padding: 10px;
  font-size: 2em;
  white-space: pre;
}

hr {
  width: 500px;
}

#reset {
  padding: 10px 40px;
  margin: 10px auto;
  display: block;
}

p {
  color: gray;
}
